$devices: (
  xs: "(max-width: 360px)",
  sm: "(max-width: 568px)",
  md: "(max-width: 768px)",
  lg: "(max-width: 992px)",
  xl: "(max-width: 1280px)",
  xxl: "(max-width: 1440px)",
);

@mixin responsive($device) {
  $condition: map-get($devices, $device);

  @if not $condition {
    @error "Device #{$device} not found in $devices map.";
  }

  @media #{$condition} {
    @content;
  }
}
