*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  vertical-align: baseline;
  scroll-behavior: smooth;
  overflow-x: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  color: rgb(39, 39, 42);
  line-height: 1.15;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "ProximaNova", sans-serif !important;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
}

button {
  box-shadow: none;
}

img {
  max-width: 100%;
}


body::-webkit-scrollbar{
  width: 0px;
}

body::-webkit-scrollbar-track{
  display: none;
}

body::-webkit-scrollbar-thumb{
  display: none;
}

// Font emmbeded
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima-Nova-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima-Nova-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/sofiapro-bold.woff") format("woff");
  font-weight: 700;
}